@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../styles/components/left.css');
@import url('../styles/components/right.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 400;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    height: 130vh;


    position: absolute;
    z-index: -10;
}

@media (max-width: 948px) {
    body {
        height: auto;
        overflow: scroll;
        overflow-x: hidden;
    }

    #root {
        flex-direction: column;
        overflow: hidden;
    }

    .background {
        height: 800px;
    }
}

@media (max-width: 810px) {
    .background{
        height: 1025px;
    }
}

@media (max-width: 630px) {
    .background{
        height: 1380px;
    }
}
