@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../styles/components/left.css');
@import url('../styles/components/right.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgb(118, 118, 118);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: black; 
  }

body {
    width: 100vw;
    height: 100vh;
    /* overflow-x:; */
    position: relative;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

    overflow-x: hidden;

    z-index: -10;
}

@media (max-width: 948px) {
    body {
        height: auto;
        overflow: scroll;
        overflow-x: hidden;
    }

    #root {
        flex-direction: column;
        overflow: hidden;
    }
}